body {
    font-family: 'Oswald', sans-serif;    /*font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;*/
}
form {
    display: inline-block;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.button:hover {
    background-color: #A1A7AF; 
    color: white; 
}

.list {
	font-family:garamond;
	color:#cc0000;
}

#title {
    background-color: #C02942;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    color: #FFFFFF;
    width: 200px;
    height: 25px;
}

#text {
    background-color: #0B486B;
    border-radius: 5px;
    text-align: center;
    font-family: Vivaldi, Cursive;
    color: #FFFFFF;
    width: 200px;
    height: 25px;
}

.highlighted {
    -webkit-box-shadow: 0 0 8px #FFD700;
    -moz-box-shadow: 0 0 8px #FFD700;
    box-shadow: 0 0 8px #FFD700;
    cursor:pointer;
}